/* 
    Author: Matic Krajnc
    Email:  matic@sdt.si
    Date:   23.01.2015
*/
/* CSS RESET */
/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
/* FONTS */
@font-face {
  font-family: 'OpenSans light';
  src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans regular';
  src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans bold';
  src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* CLEARFIX */
.clear:after {
  content: "";
  display: table;
  clear: both;
}
/* BASE COLORS */
/* BASE FONTS */
/* BASE MEASUREMENTS */
/* BASE */
body {
  font-family: 'OpenSans regular', sans-serif;
  font-size: 13pt;
  background-image: url('../img/background.png');
}
a {
  color: #34393e;
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#wrapper {
  width: 780px;
  margin: 0 auto;
  background: #edf1eb;
}
.container {
  float: left;
}
#sidebar {
  margin: 0;
  padding: 0;
  width: 60px;
  background: #34393e;
}
.caret {
  height: 72px;
  background: #edf1eb;
  text-align: center;
  vertical-align: middle;
  line-height: 72px;
  font-size: 16pt;
}
ul#menu {
  font-size: 10pt;
  line-height: 10px;
}
ul#menu li {
  text-align: center;
  height: 10px;
  padding-top: 13px;
  padding-bottom: 13px;
}
ul#menu li a {
  font-family: 'OpenSans bold', sans-serif;
  color: #ffffff;
  text-decoration: none;
  font-size: 10pt;
  line-height: 10px;
  height: 10px;
  display: block;
}
#main h1 {
  font-family: 'OpenSans regular', sans-serif;
  background-color: #edf1eb;
  color: #34393e;
  font-size: 21pt;
  padding-left: 20px;
  line-height: 72px;
  display: block;
  width: 100%;
}
#banner {
  height: 72px;
  background: #edf1eb;
  text-align: center;
  vertical-align: middle;
  line-height: 72px;
  font-size: 16pt;
  text-align: left;
}
#sticky-list {
  overflow: hidden;
  position: relative;
  width: 260px;
  float: left;
}
#list {
  font-size: 10pt;
  line-height: 10px;
  width: 260px;
  height: 1116px;
  overflow-x: scroll;
}
#list h1 {
  position: absolute;
  top: 0;
}
#list div {
  width: 100%;
  margin: 0;
  padding: 0;
}
#list div:last-child {
  min-height: 1116px;
}
#list div h2 {
  font-family: 'OpenSans regular', sans-serif;
  color: #d6d7d8;
  font-size: 21pt;
  padding-left: 20px;
  line-height: 72px;
  display: block;
  width: 100%;
}
#list div a {
  padding: 13px 20px;
  display: block;
  font-family: 'OpenSans regular', sans-serif;
  color: #34393e;
  text-decoration: none;
  font-size: 10pt;
  line-height: 10px;
  height: 10px;
}
#list div a:hover,
#list div a.selected {
  background-color: #e0e0da;
}
#details {
  width: 460px;
  padding-top: 72px;
}
ul#form {
  width: 424px;
  float: left;
  background-color: #e0e0da;
}
ul#form li {
  padding: 13px 20px;
  font-family: 'OpenSans regular', sans-serif;
  color: #34393e;
  text-decoration: none;
  font-size: 10pt;
  line-height: 10px;
  height: 10px;
}
ul#form li:hover,
ul#form li:hover span.legend,
ul#form li:hover span.value {
  background-color: #34393e;
  color: #e0e0da;
  cursor: default;
}
ul#form span.legend {
  width: 120px;
  display: block;
  height: 10px;
  float: left;
  color: #aeb0b2;
  font-family: 'OpenSans light', sans-serif;
}
ul#form span.value {
  width: 284px;
  padding-left: 20px;
  height: 10px;
  color: #34393e;
  font-family: 'OpenSans regular', sans-serif;
}
/* EDIT META */
.edit {
  background-color: #779dad;
}
.edit:hover {
  background-color: #2384ad;
}
.delete {
  background-color: #aa7783;
}
.delete:hover {
  background-color: #ab2242;
}
.share {
  background-color: #78a889;
}
.share:hover {
  background-color: #22a851;
}
.favourite {
  background-color: #a58a77;
}
.favourite:hover {
  background-color: #a65821;
}
#footer {
  width: 780px;
  margin: 20px auto;
  text-align: center;
  font-size: 8pt;
  line-height: 9pt;
}
