﻿<!DOCTYPE html>
<html ng-app="saopAddressBook">

    <head>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>
        <script>document.write('<base href="' + document.location + '" />');</script>    
        @Styles.Render("~/Content/css")

    </head>

    <body>

        @RenderBody()

        <div id="wrapper">

            <div id="content" class="clear">

                <div id="sidebar" class="container" ui-view="sidebar">

                </div>

                <div id="main" class="container" ui-view="main">

                    

                </div>

            </div>

        </div>

        <div id="footer">
            SAOP Address book &copy; 2014 | www.saop.si | info@saop.si | Authors
        </div>

        @Scripts.Render("~/Content/jslibs")
        @Scripts.Render("~/Content/app")
        @RenderSection("scripts", required: false)

    </body>

</html>
