/* 
    Author: Matic Krajnc
    Email:  matic@sdt.si
    Date:   23.01.2015
*/

/* CSS RESET */
/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/* FONTS */
@font-face {
    font-family: 'OpenSans light';
    src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans regular';
    src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans bold';
    src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* CLEARFIX */
.clear:after {
  content:"";
  display:table;
  clear:both;
}

/* BASE COLORS */
@c-dark1: #34393e;
@c-dark2: #aeb0b2;
@c-dark3: #d6d7d8;

@c-light1: #edf1eb;
@c-light2: #e0e0da;

@c-favourite: #a58a77;
@c-favourite-h: #a65821;
@c-share: #78a889;
@c-share-h: #22a851;
@c-delete: #aa7783;
@c-delete-h: #ab2242;
@c-edit: #779dad;
@c-edit-h: #2384ad;

@c-white: #fff;

/* BASE FONTS */
@font-light: 'OpenSans light', sans-serif;
@font-regular: 'OpenSans regular', sans-serif;
@font-bold: 'OpenSans bold', sans-serif;

/* BASE MEASUREMENTS */
@width: 780px;
@sidebar-width: 60px;
@header-height: 72px;

/* BASE */
body {
    font-family: @font-regular;
    font-size: 13pt;
    background-image: url('../img/background.png');
}

a { 
    color: @c-dark1; 
    text-decoration: none; 
}

ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: @width;
    margin: 0 auto;
    background: @c-light1;
}

.container {
    float:left;
}

#sidebar {
    margin: 0;
    padding: 0;
    width: 60px;
    background: @c-dark1;
}

.caret {
    height: @header-height;
    background: @c-light1;
    text-align: center;
    vertical-align: middle;
    line-height: @header-height;
    font-size: 16pt;
}

ul#menu {
    font-size: 10pt;
    line-height: 10px;
}

ul#menu li {
    text-align: center;
    height: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
}

ul#menu li a{
    font-family: @font-bold;
    color: @c-white;
    text-decoration: none;
    font-size: 10pt;
    line-height: 10px;
    height: 10px;
    display: block;
}

#main h1 {
    font-family: @font-regular;
    background-color: @c-light1;
    color: @c-dark1;
    font-size: 21pt;
    padding-left: 20px;
    line-height: @header-height;
    display: block;
    width: 100%;
}

#banner {
    .caret;
    text-align: left;
}

#sticky-list {
    overflow: hidden;
    position: relative;
    width: 260px;
    float: left;
}

#list {
    font-size: 10pt;
    line-height: 10px;
    width: 260px;
    height: 1116px;
    overflow-x: scroll;
}

#list h1 { 
    position: absolute; top: 0;
}

#list div {
    width: 100%;
    margin: 0;
    padding: 0;
}

#list div:last-child {
    min-height: 1116px;
}

#list div h2 {
    font-family: @font-regular;
    color: @c-dark3;
    font-size: 21pt;
    padding-left: 20px;
    line-height: @header-height;
    display: block;
    width: 100%;
}

#list div a {
    padding: 13px 20px;
    display: block;
    font-family: @font-regular;
    color: @c-dark1;
    text-decoration: none;
    font-size: 10pt;
    line-height: 10px;
    height: 10px;
}

#list div a:hover, #list div a.selected{
    background-color: @c-light2;
}

#details {
    width: 460px;
    padding-top: @header-height;
}

ul#form {
    width: 424px;
    float:left;
    background-color: @c-light2;
}

ul#form li {    
    padding: 13px 20px;
    font-family: @font-regular;
    color: @c-dark1;
    text-decoration: none;
    font-size: 10pt;
    line-height: 10px;
    height: 10px;
}

ul#form li:hover, ul#form li:hover span.legend, ul#form li:hover span.value {
    background-color: @c-dark1;
    color: @c-light2;
    cursor:default;
}

ul#form span.legend {
    width: 120px;
    display: block;
    height: 10px;
    float: left;
    color: @c-dark2;
    font-family: @font-light;
}

ul#form span.value {
    width: 284px;
    padding-left: 20px;
    height: 10px;
    color: @c-dark1;
    font-family: @font-regular;
}

/* EDIT META */
.edit       {.bg-color(@c-edit);}
.edit:hover {.bg-color(@c-edit-h);}

.delete         {.bg-color(@c-delete);}
.delete:hover   {.bg-color(@c-delete-h);}

.share          {.bg-color(@c-share);}
.share:hover    {.bg-color(@c-share-h);}

.favourite          {.bg-color(@c-favourite);}
.favourite:hover    {.bg-color(@c-favourite-h);}

// set background color
.bg-color(@color){
    background-color: @color;
}

#footer { 
    width: @width;
    margin: 20px auto;
    text-align: center;
    font-size: 8pt;
    line-height: 9pt;
}