	                <ul id="form">
	                    <li><span class="legend">gender</span><span class="value">{{person.gender}}</span></li>
	                    <li><span class="legend">city</span><span class="value">{{person.city}}</span></li>
                        <li><span class="legend">mobile</span><span class="value">+384 41 231 412</span></li>
	                    <li><span class="legend">email</span><span class="value">{{person.firstName}}.{{person.secondName}}@gmail.com</span></li>
	                    <li>
	                        <span class="legend">address</span>
	                        <span class="value">1000 Ljubljana</span>
	                    </li>
	                </ul>

	                <div id="edit" class="container">

	                    <ul>
	                        <li class="edit"><a href=""><img src="Content/img/edit.png" alt="Edit" /></a></li>
	                        <li class="delete"><a href=""><img src="Content/img/delete.png" alt="Delete" /></a></li>
	                        <li class="share"><a href=""><img src="Content/img/share.png" alt="Share" /></a></li>
	                        <li class="favourite"><a href=""><img src="Content/img/favourite.png" alt="Favourite" /></a></li>
	                    </ul>

	                </div>