                    <!-- main list -->
                    <div id="sticky-list">

                        <div id="list" slimscroll="{height: '1116px'}" scroll>

                            <h1 id="currentLetter">{{selectedSidebarLetter}}</h1>

                            <div class="listContainer" ng-repeat="person in people">

                                <h2 id="list_{{person.firstLetter}}" class="stickyHeader">{{person.firstLetter}}</h2>

                                <a id="person-{{item.contactId}}" ng-repeat="item in person.items" ng-class="{selected: item.selected}" ui-sref="people.details({ letter: person.firstLetter, id: item.contactId })" ng-click="selectItem(item)">{{item.firstName}} {{item.secondName}}</a>

                            </div>

                        </div>

	                </div>
                    
                    <!-- details -->
                    <div id="details" class="container" ui-view="details">

                    </div>