					<div class="caret">
	                    <i class="fa fa-caret-right triangle"></i>
	                </div>

	                <ul id="menu" class="clear">

                        <li class="item" ng-repeat="item in alphabet">
                            <a ng-click="selectSidebarLetter(item.letter)" href="#list_{{item.letter}}">{{item.letter}}</a>
                        </li>

	                </ul>